<div class="container">
    {{#if success_msg}}
    <div class="alert alert-success mt-3" style="width:500px;margin:0 auto;">
        {{success_msg}}
    </div>
    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger mt-3" style="width:500px;margin:0 auto;">
        {{error_msg}}
    </div>
    {{/if}}
</div>