<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">MCQ Test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                {{#if student}}
                <span class="navbar-text">
                    Welcome, {{student.name}} &nbsp;
                </span>
                <li class="nav-item active">
                    <a class="nav-link" href="/students/logout">Logout <span class="sr-only">(current)</span></a>
                </li>
                {{/if}}

                {{#if faculty}}
                <span class="navbar-text">
                    Welcome, {{faculty.name}} &nbsp;
                </span>
                <li class="nav-item active">
                    <a class="nav-link" href="/faculties/logout">Logout <span class="sr-only">(current)</span></a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>