<div class="container">
    <div class="row mt-4">
        <div class="col-sm-2">
            <a href="/students/login">
                <div class="card">
                    <div class="card-body">
                        Student Login
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-2">
            <a href="/faculties/login">
                <div class="card">
                    <div class="card-body">
                        Faculties Login
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>