<div class="container">
    <div class="row mt-4">
        <div class="col-sm-2">
            <a href="/students/groups">
                <div class="card">
                    <div class="card-body">
                        Join Groups
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-2">
            <a href="/students/take-tests">
                <div class="card">
                    <div class="card-body">
                        Take Tests
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>