<div class="container mb-5">
    {{#if group}}
    <h3 class="mt-5">Available Groups.</h3>
    {{#each group}}
    <form action="/students/groups?groupName={{groupName}}" method="POST" style="display:inline-block">
        <div class="card mt-5 ml-4" style="width: 18rem;display:inline-block">
            <div class="card-body">
                <h5 class="card-title">{{groupName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Created On : {{date}}</h6>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, laboriosam.</p>
                <!--a href="/students/join-group?sname={{student.name}}&groupName={{groupName}}" class="card-link">Join
                    Group</a-->
                <button type="submit" class="btn btn-link">Join Group</button>
            </div>
        </div>
    </form>
    {{/each}}
    {{else}}
    <p>No results found.</p>
    {{/if}}
</div>