<div class="container">
    <form action="/students/login" method="POST" class="custom-form mt-5">
        <h3>Please Login</h3>
        <hr>
        <div class="form-group">
            <label for="">Enter Name</label>
            <input type="text" class="form-control" name="studentName" placeholder="Enter your name...">
        </div>
        <div class="form-group">
            <label for="">Enter Roll Number</label>
            <input type="text" class="form-control" name="studentRoll" placeholder="Enter your roll number...">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </form>
</div>