<div class="container">
    {{#if test}}
    <h3 class="mt-5">List Of Tests</h3>
    {{#each test}}
    <div class="card mt-5 ml-4" style="width: 18rem;display:inline-block">
        <div class="card-body">
            <h5 class="card-title">{{testName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/students/test?id={{id}}" class="card-link">Take test</a>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>No tests found.</p>
    {{/if}}
</div>