<div class="container">
    {{#if test}}
    <h3 class="mt-4">{{test.testName}}</h3>
    <form action="" method="POST" class="custom-form-2">
        <input type="hidden" name="testName" value="{{test.testName}}">
        <div class="card border-warning mt-5">
            <div class="card-body">
                <h5 class="card-title">{{test.ques1.q1}}</h5>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q1opt1" value="{{test.ques1.q1opt1}}" id="q1opt1">
                    <label class="form-check-label" for="q1opt1">
                        {{test.ques1.q1opt1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q1opt1" value="{{test.ques1.q1opt2}}" id="q1opt2">
                    <label class="form-check-label" for="q1opt2">
                        {{test.ques1.q1opt2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q1opt1" value="{{test.ques1.q1opt3}}" id="q1opt3">
                    <label class="form-check-label" for="q1opt3">
                        {{test.ques1.q1opt3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q1opt1" value="{{test.ques1.q1opt4}}" id="q1opt4">
                    <label class="form-check-label" for="q1opt4">
                        {{test.ques1.q1opt4}}
                    </label>
                </div>
            </div>
        </div>

        <div class="card border-warning mt-5">
            <div class="card-body">
                <h5 class="card-title">{{test.ques2.q2}}</h5>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q2opt1" value="{{test.ques2.q2opt1}}" id="q2opt1">
                    <label class="form-check-label" for="q2opt1">
                        {{test.ques2.q2opt1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q2opt1" value="{{test.ques2.q2opt2}}" id="q2opt2">
                    <label class="form-check-label" for="q2opt2">
                        {{test.ques2.q2opt2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q2opt1" value="{{test.ques2.q2opt3}}" id="q2opt3">
                    <label class="form-check-label" for="q2opt3">
                        {{test.ques2.q2opt3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q2opt1" value="{{test.ques2.q2opt4}}" id="q2opt4">
                    <label class="form-check-label" for="q2opt4">
                        {{test.ques2.q2opt4}}
                    </label>
                </div>
            </div>
        </div>

        <div class="card border-warning mt-5">
            <div class="card-body">
                <h5 class="card-title">{{test.ques3.q3}}</h5>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q3opt1" value="{{test.ques3.q3opt1}}" id="q3opt1">
                    <label class="form-check-label" for="q3opt1">
                        {{test.ques3.q3opt1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q3opt1" value="{{test.ques3.q3opt2}}" id="q3opt2">
                    <label class="form-check-label" for="q3opt2">
                        {{test.ques3.q3opt2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q3opt1" value="{{test.ques3.q3opt3}}" id="q3opt3">
                    <label class="form-check-label" for="q3opt3">
                        {{test.ques3.q3opt3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q3opt1" value="{{test.ques3.q3opt4}}" id="q3opt4">
                    <label class="form-check-label" for="q3opt4">
                        {{test.ques3.q3opt4}}
                    </label>
                </div>
            </div>
        </div>

        <div class="card border-warning mt-5">
            <div class="card-body">
                <h5 class="card-title">{{test.ques4.q4}}</h5>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q4opt1" value="{{test.ques4.q4opt1}}" id="q4opt1">
                    <label class="form-check-label" for="q4opt1">
                        {{test.ques4.q4opt1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q4opt1" value="{{test.ques4.q4opt2}}" id="q4opt2">
                    <label class="form-check-label" for="q4opt2">
                        {{test.ques4.q4opt2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q4opt1" value="{{test.ques4.q4opt3}}" id="q4opt3">
                    <label class="form-check-label" for="q4opt3">
                        {{test.ques4.q4opt3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q4opt1" value="{{test.ques4.q4opt4}}" id="q4opt4">
                    <label class="form-check-label" for="q4opt4">
                        {{test.ques4.q4opt4}}
                    </label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block mt-5 mb-5">Submit Test</button>
    </form>
    {{/if}}
</div>