<div class="container">
    <form action="/faculties/add-student" method="POST" class="custom-form mt-5">
        <div class="form-group">
            <label for="">Student Name</label>
            <input type="text" class="form-control" name="stdName" placeholder="Enter student's name..." required>
        </div>
        <div class="form-group">
            <label for="">Student Roll number</label>
            <input type="text" class="form-control" name="stdRoll" placeholder="Enter student's roll no..." required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Add New Student</button>
    </form>
</div>