<div class="container">
    <form action="/faculties/add-faculty" method="POST" class="custom-form mt-5">
        <div class="form-group">
            <label for="">Faculty Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter faculty name..." required>
        </div>
        <div class="form-group">
            <label for="">Faculty Password</label>
            <input type="text" class="form-control" name="password" placeholder="Enter faculty password..." required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Add New Faculty</button>
    </form>
</div>