<div class="container">
    {{#if test}}
    <h3 class="mt-5">Submitted results.</h3>
    {{#each test}}
    <div class="card mt-5 ml-4" style="width: 18rem;display:inline-block">
        <div class="card-body">
            <h5 class="card-title">{{testName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Submitted By : {{studName}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Submitted On : {{date}}</h6>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, laboriosam.</p>
            <a href="/faculties/check?id={{id}}" class="card-link">Check Submission</a>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>No results found.</p>
    {{/if}}
</div>