<div class="container">
    {{#if result}}
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">{{result.testName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Submitted By : {{result.studName}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Submitted On : {{result.date}}</h6>
            <p class="card-text">Selected answer one : {{result.select_opt1}}</p>
            <p class="card-text">Selected answer two : {{result.select_opt2}}</p>
            <p class="card-text">Selected answer three : {{result.select_opt3}}</p>
            <p class="card-text">Selected answer four : {{result.select_opt4}}</p>
        </div>
    </div>
    {{/if}}
</div>