<div class="container">
    <form action="/faculties/create-groups" method="POST" class="custom-form mt-5">
        <h3 class="mb-4">Create Groups</h3>
        <div class="form-group">
            <label for="group-name">Group Name</label>
            <input type="text" class="form-control" name="groupName" placeholder="Enter group name" required>
        </div>
        <div class="form-group">
            <label for="s1">Student 1</label>
            <input type="text" class="form-control" name="stud1" placeholder="Student 1" required>
        </div>
        <div class="form-group">
            <label for="s1">Password for Student 1</label>
            <input type="text" class="form-control" name="pass1" placeholder="Password" required>
        </div>

        <div class="form-group">
            <label for="s1">Student 2</label>
            <input type="text" class="form-control" name="stud2" placeholder="Student 2" required>
        </div>
        <div class="form-group">
            <label for="s1">Password for Student 2</label>
            <input type="text" class="form-control" name="pass2" placeholder="Password" required>
        </div>

        <div class="form-group">
            <label for="s1">Student 3</label>
            <input type="text" class="form-control" name="stud3" placeholder="Student 3" required>
        </div>
        <div class="form-group">
            <label for="s1">Password for Student 3</label>
            <input type="text" class="form-control" name="pass3" placeholder="Password" required>
        </div>

        <div class="form-group">
            <label for="s1">Student 4</label>
            <input type="text" class="form-control" name="stud4" placeholder="Student 4" required>
        </div>
        <div class="form-group">
            <label for="s1">Password for Student 4</label>
            <input type="text" class="form-control" name="pass4" placeholder="Password" required>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block mb-5">Create Group</button>
    </form>
</div>