<div class="container">
    <form action="/faculties/create-test" method="POST" class="custom-form-2 mt-5">
        <h3>Create Test</h3>
        <hr class="mb-4">
        <div class="form-group">
            <label for="">Test name</label>
            <input type="text" class="form-control" name="testName" placeholder="Enter test name" required>
        </div>

        <div class="form-group">
            <label for="">Group name</label>
            <input type="text" class="form-control" name="groupName" placeholder="Enter group name" required>
        </div>

        <div class="form-group">
            <label for="">Question One</label>
            <input type="text" class="form-control" name="ques1" placeholder="Question 1" required>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <label for="">Option One</label>
                <input type="text" name="q1opt1" class="form-control" placeholder="Option 1">
            </div>
            <div class="col-md-2">
                <label for="">Option Two</label>
                <input type="text" name="q1opt2" class="form-control" placeholder="Option 2">
            </div>
            <div class="col-md-2">
                <label for="">Option Three</label>
                <input type="text" name="q1opt3" class="form-control" placeholder="Option 3">
            </div>
            <div class="col-md-2">
                <label for="">Option Four</label>
                <input type="text" name="q1opt4" class="form-control" placeholder="Option 4">
            </div>
            <div class="col-md-4">
                <label for="">Correct Option</label>
                <input type="text" name="q1correctOpt" class="form-control" placeholder="Correct Option">
            </div>
        </div>

        <hr class="mb-4 mt-4">

        <div class="form-group">
            <label for="">Question Two</label>
            <input type="text" class="form-control" name="ques2" placeholder="Question 2" required>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <label for="">Option One</label>
                <input type="text" name="q2opt1" class="form-control" placeholder="Option 1">
            </div>
            <div class="col-md-2">
                <label for="">Option Two</label>
                <input type="text" name="q2opt2" class="form-control" placeholder="Option 2">
            </div>
            <div class="col-md-2">
                <label for="">Option Three</label>
                <input type="text" name="q2opt3" class="form-control" placeholder="Option 3">
            </div>
            <div class="col-md-2">
                <label for="">Option Four</label>
                <input type="text" name="q2opt4" class="form-control" placeholder="Option 4">
            </div>
            <div class="col-md-4">
                <label for="">Correct Option</label>
                <input type="text" name="q2correctOpt" class="form-control" placeholder="Correct Option">
            </div>
        </div>

        <hr class="mb-4 mt-4">

        <div class="form-group">
            <label for="">Question Three</label>
            <input type="text" class="form-control" name="ques3" placeholder="Question 3" required>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <label for="">Option One</label>
                <input type="text" name="q3opt1" class="form-control" placeholder="Option 1">
            </div>
            <div class="col-md-2">
                <label for="">Option Two</label>
                <input type="text" name="q3opt2" class="form-control" placeholder="Option 2">
            </div>
            <div class="col-md-2">
                <label for="">Option Three</label>
                <input type="text" name="q3opt3" class="form-control" placeholder="Option 3">
            </div>
            <div class="col-md-2">
                <label for="">Option Four</label>
                <input type="text" name="q3opt4" class="form-control" placeholder="Option 4">
            </div>
            <div class="col-md-4">
                <label for="">Correct Option</label>
                <input type="text" name="q3correctOpt" class="form-control" placeholder="Correct Option">
            </div>
        </div>

        <hr class="mb-4 mt-4">

        <div class="form-group">
            <label for="">Question Four</label>
            <input type="text" class="form-control" name="ques4" placeholder="Question 4" required>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <label for="">Option One</label>
                <input type="text" name="q4opt1" class="form-control" placeholder="Option 1">
            </div>
            <div class="col-md-2">
                <label for="">Option Two</label>
                <input type="text" name="q4opt2" class="form-control" placeholder="Option 2">
            </div>
            <div class="col-md-2">
                <label for="">Option Three</label>
                <input type="text" name="q4opt3" class="form-control" placeholder="Option 3">
            </div>
            <div class="col-md-2">
                <label for="">Option Four</label>
                <input type="text" name="q4opt4" class="form-control" placeholder="Option 4">
            </div>
            <div class="col-md-4">
                <label for="">Correct Option</label>
                <input type="text" name="q4correctOpt" class="form-control" placeholder="Correct Option">
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block mb-5 mt-5">Save Test</button>
    </form>
</div>