<div class="container">
    <div class="row mt-4">
        <div class="col-sm-2">
            <a href="/faculties/add-student">
                <div class="card">
                    <div class="card-body">
                        Add Student
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/faculties/add-faculty">
                <div class="card">
                    <div class="card-body">
                        Add Faculty
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/faculties/create-groups">
                <div class="card">
                    <div class="card-body">
                        Create Groups
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/faculties/check-result">
                <div class="card">
                    <div class="card-body">
                        Check Results
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/faculties/create-test">
                <div class="card">
                    <div class="card-body">
                        Create MCQ Test
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>