<div class="container">
    <form action="/faculties/login" method="POST" class="custom-form mt-5">
        <h3>Please Login</h3>
        <hr>
        <div class="form-group">
            <label for="">Enter Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter your name...">
        </div>
        <div class="form-group">
            <label for="">Enter Password</label>
            <input type="text" class="form-control" name="password" placeholder="Enter your password...">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </form>
</div>